body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

main {
    width: 30vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

.map {
    width: 70vw;
    height: 100vh;
}

.header {
    height: 50px;
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-direction: row;
}

.logo {
    width: 15vw;
    margin: 5px 5px 5px 5px;
}

.logoImage {
    padding: 0px 10px 0px 10px;
}

.logoText {
    padding: 10px 5px 5px 5px;
}

.townSelect {
    width: 10vw;
    margin: 5px 10px 5px 20px;
}

.myPageImage {
    margin: 10px 5px 10px 5px;
}

.contentsList {
    padding: 10px 10px 10px 10px;
}

.content {
    height: 150px;
    border: solid gray 1px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.contentBody {
    display: flex;
    flex-direction: row;
}

.contentTownBadge {
    width: 100px;
    border: solid gray 1px;
    border-radius: 50px;
    padding: 0px 5px 0px 5px;
    margin: 0px 0px 10px 0px;
    text-align: center;
    font-size: 15px;
}

.contentBody h5 {
    font-size: 15px;
    font-weight: bold;
}

.contentBody p {
    font-size: 12px;
}

.contentImage img {
    width: 100px;
    height: 100px;
    border: solid gray 1px;
}

.contentFooter {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    color: gray;
}

.contentCreator {
    width: 50%;
    text-align: left;
}

.contentCreatedTime {
    width: 50%;
    text-align: right;
}

.contentCreate {
    margin: 15px 15px 15px 15px;
    position: fixed;
    bottom: 0px;
    width: 28%;
}

.contentDetail {
    padding: 10px 10px 10px 10px;
}

.contentDetail h5 {
    font-size: 20px;
    font-weight: bold;
}

.contentDetailBody {
    padding: 10px 10px 10px 10px;
}

.contentDetailImage {
    width: 95%;
    text-align: center;
    margin: 15px auto;
}

.contentDetailDesc {
    margin: 15px auto;
    font-size: 15px;
}

.contentCreateHeader {
    margin: 15px 15px 30px 15px;
}

.contentCreateHeader h1 {
    font-size: 30px;
    text-align: left;
    font-weight: normal;
}

.contentCreateBody {
    margin: 15px 15px 150px 15px;
}

.contentCreateLocation .contentCreateLocationComplete {
    margin: 10px 10px 10px 10px;
}

.contentCreateImage .contentCreateImageComplete {
    margin: 10px 10px 30px 10px;
}

.contentCreateImage input {
    display: none;
}

.contentCreateImageComplete small {
    text-align: right;
    color: violet;
}

.contentCreateTitle .contentCraeteTitleValid {
    margin: 10px 10px 10px 10px;
}

.contentCreateDesc .contentCreatDescValid {
    margin: 10px 10px 10px 10px;
    overflow-y: hidden;
}

.contentCreateComplete {
    margin: 15px 15px 15px 15px;
    position: fixed;
    bottom: 50px;
    width: 27%;
}

.contentCrateCompleteValid {
    margin: 15px 15px 15px 15px;
    position: fixed;
    bottom: 0px;
    width: 27%;
}

.loginHeader {
    margin: 15px 15px 30px 15px;
}

.loginHeader h1 {
    font-size: 30px;
    text-align: left;
    font-weight: normal;
}

.loginBody {
    margin: 10px 10px 30px 10px;
}

.join {
    margin: 10px 10px 30px 10px;
}

.joinHeader {
    margin: 15px 15px 30px 15px;
}

.joinHeader h1 {
    font-size: 30px;
    text-align: left;
    font-weight: normal;
}

.joinBody {
    margin: 10px 10px 30px 10px;
}
