body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    /*
    overflow: hidden;
    */
}

main {
    width: 30vw;
    height: 100vh;
    /*
    overflow-x: hidden;
    overflow-y: scroll;
    */
}

.map {
    width: 70vw;
    height: 100vh;
}

.header {
    height: 50px;
    display: flex;
    flex-direction: row;
}

.logo {
    width: 15vw;
    margin: 5px 5px 5px 5px;
}

.logoImage {
    padding: 0px 19px 0px 10px;
}
.logoText {
    padding: 10px 5px 5px 5px;
}

.townSelect {
    width: 15vw;
    margin: 5px 10px 5px 20px;
}
