<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WOODONG MAPS</title>
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--css file-->
    <link rel="stylesheet" href="../static/css/common.css" />
    <!--bootstrap css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
    <!--googlefont api-->

    <!--navermaps api-->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=5h7phq9a8i">
    </script>
    <script>
        function contentCreate() {

            let position = document.getElementById("position").getAttribute("placeholder");
            let positionArray = position.split(", ")
            let lat = positionArray[0];
            let lng = positionArray[1];
            let image = document.getElementById("contentImage").getAttribute("src");
            let title = document.getElementById("contentTitle").value;
            let desc = document.getElementById("contentDesc").value;

            $.ajax({
                type: "POST",
                url: "/api/contents",
                data: {
                    'lat': lat,
                    'lng': lng,
                    'image': image,
                    'title': title,
                    'desc': desc
                },
                success: function (response) {
                    if (response["result"] == "success") {
                        alert(response["msg"]);
                    }
                }
            })
        }
    </script>

</head>

<body>
    <div class="map" id="map">
        <script>
            var mapOptions = {
                center: new naver.maps.LatLng(37.3595704, 127.105399),
                zoom: 16,
            };
            var map = new naver.maps.Map("map", mapOptions);
        </script>
    </div>
    <main>
        <div class="header">
            <a href="/"><img src="/static/img/goToBack.png" alt="홈 화면으로 이동" /></a>
        </div>
        <div class="contentCreateHeader">
            <h1>
                교남동 소식들</br>
                올려보세요.
            </h1>
        </div>
        <div class="contentCreateBody">
            <div id="location" class="contentCreateLocation">
                <label>
                    교남동 어느 곳의 소식인가요?
                </label>
                <form action="">
                    <button type="button" class="btn btn-outline-primary btn-block" onclick="getLocation()">지도에서
                        찾기</button>
                </form>
            </div>
            <script>
                let x = document.getElementById("location");

                function getLocation() {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(showPosition);
                    } else {
                        x.innerHTML = "위치를 불러오는 데 실패하였습니다.";
                    }
                }

                function showPosition(position) {
                    x.innerHTML = `
                        <label>
                            교남동 어느 곳의 소식인가요?
                        </label>
                        <input class="form-control" type="text" id="position"
                            placeholder="${position.coords.latitude}, ${position.coords.longitude}" readonly>
                        <a href="#"> <small class="form-text" style= "text-align:right ; color:violet">다시 등록하기</small></a>
                    `;
                }
            </script>

            <!--
            <div class="contentCreateLocationValid">
                <label>
                    교남동 어느 곳의 소식인가요?
                </label>
                <form action="#">
                    <button type="button" class="btn btn-outline-danger btn-block">위치를 입력해주세요.</button>
                </form>
            </div>
-->
            <div id="image" class="contentCreateImage">
                <label>
                    사진도 함께 올려보세요.
                </label>
                <form action="#">
                    <input type="file" id="inputImage" accept="img/*" required multiple>
                    <button type="button" id="inputImageBtn" class="btn btn-outline-primary btn-block">사진 선택</button>
                </form>
            </div>

            <div class="contentCreateImageComplete">
                <label>
                    사진도 함께 올려보세요.
                </label>
                <img id="contentImage" src="#" alt="이미지 샘플" />
                <a href="#"><small class="form-text">다시 등록하기</small></a>
            </div>
            <script>
                let y = document.getElementById("image");
                let inputImageBtn = document.querySelector('#inputImageBtn');
                let inputImage = document.querySelector('#inputImage');
                let contentImage = document.querySelector("#contentImage");
                let reader = new FileReader();

                inputImageBtn.addEventListener("click", () => {
                    inputImage.click();
                });
                // 버튼 클릭 시 input 클릭

                reader.onload = (readerEvent) => {
                    contentImage.setAttribute('src', readerEvent.target.result);
                };
                // 업로드 이미지 미리보기

                inputImage.addEventListener("change", (changeEvent) => {
                    let imgFile = changeEvent.target.files[0];
                    reader.readAsDataURL(imgFile);
                    //showImage(contentImage);
                });
                // input에 이벤트 있을 때 이미지파일 조회


                function showImage(contentImage) {
                    y.innerHTML = `
                    <label>
                        사진도 함께 올려보세요.
                    </label>
                    <img id="${contentImage}" src="#" alt="이미지 샘플" />
                    <a href="#"><small class="form-text">다시 등록하기</small></a>
                    `;
                }
            </script>

            <div class="contentCreateTitle">
                <input id="contentTitle" class="form-control" placeholder="제목을 입력해주세요.">
            </div>
            <!--
            <div class="contentCreateTitleValid">
                <input class="form-control is-invalid" placeholder="제목을 입력해주세요.">
                <div class="invalid-feedback">
                    제목을 입력해주세요.
                </div>
            </div>
            -->
            <div class="contentCreateDesc">
                <textarea id="contentDesc" class="form-control" rows="5" placeholder="내용을 입력해주세요."></textarea>
            </div>
            <!--
            <div class="contentCreatDescValid">
                <textarea class="form-control is-invalid" rows="5" placeholder="내용을 입력해주세요." required></textarea>
                <div class="invalid-feedback">
                    내용을 입력해주세요.
                </div>
            </div>
        -->
        </div>
        <div class="contentCreateComplete">
            <form action="#">
                <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="contentCreate()">등록</button>
            </form>
        </div>
        <!--
        <div class="contentCrateCompleteValid">
            <form action="#">
                <button type="submit" class="btn btn-secondary btn-lg btn-block">등록</button>
            </form>
        </div>
-->
    </main>
</body>

</html>