<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WOODONG MAPS</title>
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--css file-->
    <link rel="stylesheet" href="../static/css/common.css" />
    <!--bootstrap css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
    <!--googlefont api-->

    <!--navermaps api-->
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=5h7phq9a8i"></script>

    <!--navermaps geocoder module api-->
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=YOUR_CLIENT_ID&submodules=geocoder"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        $(document).ready(
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    alert("위치를 불러오는 데 실패하였습니다.");
                }
            }
        );
    </script>
    <script>
        // 로딩 후 바로 실행
        $(document).ready(function () {
            let myPage = document.getElementById("myPage");
            if ($.cookie('mytoken') == undefined) {
                // mytoken이라는 값으로 쿠키가 없으면, 홈으로 이동시킵니다.
                myPage.innerHTML = `
                    <a href="/login">
                        로그인
                    </a>
                `;
            } else {
                // 쿠기가 있으면, 로그아웃을 시킵니다.
                myPage.innerHTML = `
                    <a href="#" onclick="logout()">
                        로그아웃
                    </a>
                `;
            }
        });

        // 로그아웃은 내가 가지고 있는 토큰만 쿠키에서 없애면 됩니다.
        function logout() {
            $.removeCookie('mytoken');
            alert('로그아웃!')
            window.location.href = '/'
        }
    </script>




</head>

<body>
    <div class="map" id="map">
        <script>
            var map = new naver.maps.Map('map', {
                center: new naver.maps.LatLng(37.5666805, 126.9784147),
                zoom: 16,
                mapTypeId: naver.maps.MapTypeId.NORMAL
            });

            var infowindow = new naver.maps.InfoWindow();

            function onSuccessGeolocation(position) {
                var location = new naver.maps.LatLng(position.coords.latitude,
                    position.coords.longitude);

                map.setCenter(location); // 얻은 좌표를 지도의 중심으로 설정합니다.
                map.setZoom(16); // 지도의 줌 레벨을 변경합니다.

                infowindow.setContent('<div style="padding:20px;">' + '주변 동네의 소식을 알려주세요.' + '</div>');

                infowindow.open(map, location);
                console.log('Coordinates: ' + location.toString());
            }

            function onErrorGeolocation() {
                var center = map.getCenter();

                infowindow.setContent('<div style="padding:20px;">' +
                    '<h5 style="margin-bottom:5px;color:#f00;">Geolocation failed!</h5>' + "latitude: " + center.lat() + "<br />longitude: " + center.lng() + '</div>');

                infowindow.open(map, center);
            }

            $(window).on("load", function () {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(onSuccessGeolocation, onErrorGeolocation);
                } else {
                    var center = map.getCenter();
                    infowindow.setContent('<div style="padding:20px;"><h5 style="margin-bottom:5px;color:#f00;">Geolocation not supported</h5></div>');
                    infowindow.open(map, center);
                }
            });

        </script>
    </div>
    <main>
        <div class="header">
            <a href="/"><img class="logoImage" src="../static/img/logo.png" /></a>
            <div class="logoText">in</div>
            <div id="location" class="townSelect">
                <select class="form-control">
                    <option>종로구 교남동</option>
                    <option>종로구 홍파동</option>
                    <option>종로구 교북동</option>
                    <option>...</option>
                </select>
            </div>
            <script>
                let x = document.getElementById("location");

                function showPosition(position) {
                    x.innerHTML = `
                    <select class="form-control">
                        <option>${position.coords.latitude}, ${position.coords.longitude}</option>
                        <option>...</option>
                    </select>
                `;
                }
            </script>
            <div id="myPage" class="myPage">
                <a href="/login">
                    <img class="myPageImage" src="../static/img/myPage.png" />
                </a>
            </div>
        </div>
        <div class="contentsList">
            <div class="content">
                <a href="/content">
                    <div class="contentBody">
                        <div class="contentText">
                            <div class="contentTownBadge">교남동</div>
                            <div class="contentTitle">
                                <h5>제목입니다.</h5>
                            </div>
                            <div class="contentDesc">
                                <p>
                                    내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다. 내용입니다.
                                    내용입니다. 내용입니다.
                                </p>
                            </div>
                        </div>
                        <div class="contentImage">
                            <img src="/static/img/article_sample.jpg" alt="이미지 샘플" />
                        </div>
                    </div>
                </a>
                <div class="contentFooter">
                    <div class="contentCreator">교남동이장님</div>
                    <div class="contentCreatedTime">2020-10-03 오전 11:02</div>
                </div>
            </div>
        </div>
        <div class="contentCreate">
            <form action="create">
                <button type="submit" class="btn btn-primary btn-lg btn-block">우리 동네 소식 등록</button>
            </form>
        </div>
    </main>
</body>

</html>